@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}
.allContainer{
    display: grid;
    grid-template-areas: 
    "navBox"
    "mainContainer"
    "footer";
    grid-template-rows: 15vh 70vh 15vh;
    gap: 5em;
    font-size: 18px;
    background: linear-gradient(35deg, rgba(154, 154, 154, 0.397), rgba(0, 0, 0, 0.734));
}

/* containeir relacionado ao conteúdo principal */
.mainContainer{
    grid-area: mainContainer;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.mainContainer__title{
    font-size: 1.5em;
    text-align: center;    
}

/* containeir relacionado ao navbar */
.navBox{

    /* adicionar itens do nav com condicionais para ativar o container de mobile */
    grid-area: navBox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .5em;

    /* o width não está do jeito que quero, otimizar depois */
    max-width: 600px;
    width: 40vw;
    height: 10vh;
    margin: 1em auto;
    gap: 1em;
    border: 2px solid orange;
    background-color: rgb(238, 202, 136);
    border-radius: 25px;
    font-size: 1.2em;

    nav{
        display: flex;
        gap: 1em;
    }
}

/* estilizando os links do nav, foi melhor separá-los para não aninhar tanta coisa!*/
.linkToNav{
    color: black;
    text-decoration: none;
    transition: .4s;
    
    &:hover{
        color: rgb(250, 97, 26);

    }

}

.active{

    color: rgb(248, 109, 44);

    &:hover{
        color: rgb(255, 81, 0);
    }
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
