img{
    width: 150px;
}
form{
    /* adicionar estilização formulário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: st; */
    width: 500px;
    margin: 1em auto;
    gap: 2em;

    input[type="text"]{
        font-size: 1em;
        padding-left: .2em;  
    }

    button[type="submit"]{
        width: 5em;
        margin: auto;
        padding: .5em;
    }
}
