@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}


/* containeir relacionado ao corpo da página */
.allContainer{
    display: grid;
    grid-template-areas: 
    "navBox"
    "mainContainer"
    "footer";
    grid-template-rows: 15vh 80vh 5vh;
    gap: 1em;
}

/* containeir relacionado ao navbar */
.navBox{

    /* adicionar itens do nav com condicionais para ativar o container de mobile */
    grid-area: navBox;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5em;

    /* o width não está do jeito que quero, otimizar depois */
    max-width: 460px;
    width: 40vw;
    height: 10vh;
    margin: 1em auto;
    gap: 1em;
    border: 2px solid salmon;
    background-color: rgba(250, 128, 114, 0.424);
    border-radius: 25px;
    font-size: 1.2em;

    nav{
        display: flex;
        gap: 1em;
    }
}

/* estilizando os links do nav, foi melhor separá-los para não aninhar tanta coisa!*/
.linkToNav{
    color: black;
    text-decoration: none;
    transition: .4s;
    
    &:hover{
        color: rgb(88, 88, 88);
    }

}

.active{
    color: rgb(248, 65, 44);
}

/* containeir relacionado ao conteúdo principal */
.mainContainer{
    grid-area: mainContainer;
    display: flex;
    flex-direction: column;
    gap: 1em;

    #servicos, #sobre, #suporte{
        display: flex;
        flex-direction: column;

        button{
            padding: .3em;
            border-radius: 5px;
            border: 2px solid black;
            width: 100px;
        }
    }

}
.box__column{
    display: flex;
    flex-direction: column;
}



footer{
    grid-area: footer;
}