/* containeir relacionado ao corpo da página */

#sobre, #suporte, #servicos{
    display: flex;
    flex-direction: column;

    button{
        padding: .3em;
        border-radius: 5px;
        border: 2px solid black;
        width: 100px;
    }
}

#sobre{
    grid-area: sobre;
    align-items: center;
    gap: 1.3em;
    padding: 3em;
    background-position: bottom;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.563)), url(../assets/imgs/gym_bg.jpg);
    filter: drop-shadow(0 0 0.8rem rgba(0, 0, 0, 0.358));
    color: salmon;
    p{
        width: 90%;
        text-align: center;
        font-size: 1.3em;
    }
}
#servicos{
    grid-area: servicos;
    gap: 1.5em;
}
.internoBoxServicos{
    display: flex;
    justify-content: center;
    gap: 1em;
    .box__column{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1em;
        border: 2px solid salmon;
        background-color: rgba(250, 128, 114, 0.424);
        border-radius: 25px;
        width: 300px;
        text-align: center;
        padding: 1em;
    }
}
/* #suporte{
    grid-area: suporte;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    color: salmon;

    div{
        display: flex;
        justify-content: space-around;
        gap: 1.5em;

        .box__column{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.3em;
        }
    }
} */
/* #zap-logo{
    width: 7em;
    background-color: rgba(250, 128, 114, 0.51);
    filter: drop-shadow(0 0 0.8rem rgba(67, 219, 56, 0.584));
    border-radius: 50%;
} */

