@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}


/* containeir relacionado ao corpo da página */
.allContainer{
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "navBox"
    "mainContainer"
    "footer";
    grid-template-rows: 10vh 65vh 15vh;
    gap: 5em;
    font-size: 18px;
    background: linear-gradient(35deg, rgba(251, 251, 205, 0.214), rgba(255, 166, 0, 0.186));
}

/* containeir relacionado ao navbar */
.navBox{

    /* adicionar itens do nav com condicionais para ativar o container de mobile */
    grid-area: navBox;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5em;

    /* o width não está do jeito que quero, otimizar depois */
    max-width: 600px;
    width: 40vw;
    height: 10vh;
    margin: 1em auto;
    gap: 1em;
    border: 2px solid salmon;
    background-color: rgba(250, 128, 114, 0.424);
    border-radius: 25px;
    font-size: 1.2em;

    nav{
        display: flex;
        gap: 1em;
    }
}

/* estilizando os links do nav, foi melhor separá-los para não aninhar tanta coisa!*/
.linkToNav{
    color: black;
    text-decoration: none;
    transition: .4s;
    
    &:hover{
        color: rgb(88, 88, 88);
    }

}

.active{
    color: rgb(248, 65, 44);
}

/* containeir relacionado ao conteúdo principal */
.mainContainer{
    grid-area: mainContainer;
    grid-template-rows: 20 40 25;
    grid-template-areas: 
    "sobre"
    "servicos"
    "suporte";
    display: grid;
    flex-direction: column;
    gap: 3em;

    #sobre, #suporte, #servicos{
        display: flex;
        flex-direction: column;

        button{
            padding: .3em;
            border-radius: 5px;
            border: 2px solid black;
            width: 100px;
        }
    }
}

#sobre{
    grid-area: sobre;
    align-items: center;
    gap: 1.3em;
    padding: 3em;
    background-position: bottom;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.563)), url(../assets/imgs/gym_bg.jpg);
    filter: drop-shadow(0 0 0.8rem rgba(0, 0, 0, 0.358));
    color: salmon;
    text-align: center;
    font-size: 1.3em;
    p{
        width: 90%;
    }
}
#servicos{
    grid-area: servicos;
    gap: 1em;
    
    h3{
        text-align: center;    
    }

}
.internoBoxServicos{
    display: flex;
    justify-content: center;
    gap: 1em;
    .box__column{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1em;
        border: 2px solid salmon;
        background-color: rgba(250, 128, 114, 0.424);
        border-radius: 25px;
        width: 300px;
        text-align: center;
        padding: 1em;
    }
}
/* #suporte{
    grid-area: suporte;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    color: salmon;

    div{
        display: flex;
        justify-content: space-around;
        gap: 1.5em;

        .box__column{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.3em;
        }
    }
} */
#zap-logo{
    width: 7em;
    background-color: rgba(250, 128, 114, 0.51);
    filter: drop-shadow(0 0 0.8rem rgba(67, 219, 56, 0.584));
    border-radius: 50%;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}